@media all and (max-width: 1000px){
  
    .card-news {
        width: 100%;
    }
    .btn {
        margin-bottom: 50px;
    }
    .btn-news {
        padding: 12px 120px;
    }
}
@media all and (max-width: 670px){
    .content{
        width: 50%;
    }
    .kegiatan-card img{
        width: 130px;
    }

    .kegiatan-card p{
        font-size: 14px;
    }
    .item {
        width: 50%;
    }
    .card-news {
        width: 100%;
    }   
    .dock{
        width: 100%;
    }
}
    
